@page "/mytimer"

<h3>Timer</h3>
<p>Now : @_now</p>
@code {
    private string _now = string.Empty;

    private Timer _timer = new Timer(1000);
    protected override void OnInitialized()
    {
        _timer.Elapsed += (sender, e) =>
        {
            _now = DateTime.Now.ToString();
            StateHasChanged();
        };
        _timer.Start();
    }
}
